/* default css */
/* 初始化各容器的margin和padding边距为0 */
body, div, header, nav, section, article, aside, footer, ul, ol, li, h2, h3, h4, h5, a, img, p, span {
  margin: 0; 
  padding: 0;
}
/* 初始化body内容部分的背景颜色、行高、文字大小和样式 */
body {
  background-color: #202e7a80;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
/* 初始化各列表前无样式 */
ol, ul, li {
  list-style: none;
}
/* 初始化a标签文字颜色和无样式 */
a {
  color: #555;
  text-decoration: none;
}
/* 将图片边框css设置为0 */
img {
  border: 0;
}

/* setting css */
body {
  background: url(../images/common/background.png) no-repeat 0 0;
  width: 100%;
  height: 100%;
}
/* 凝胶布局：设置网页内容居中，自动调节margin */
#index {
  width: 100%;
  margin: 0 auto;
}

/* 固定页眉区的高度，宽度占满整个页面 */
header {
  width: 100%;
  height: 85px;
}
/* 页面区容器宽度固定，页眉内容居中 */
section.header-section {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/* 固定页面去所有图片的宽度和高度 */
header img {
  width: 100px;
  height: 90px;
}
/* 页眉区左侧图片向左浮动 */
.logo_1 {
  float: left;
  margin: 15px 0;
}
.logo_2 {
  float: left;
  margin: -5px 0;
}
/* 单独设置右侧图片的大小 */
header .picture img {
  width: 90px;
  height: 70px;
}
/* 页眉区右侧图片右浮动布局 */
.picture {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}
.welcome {
  width: 270px;
  margin: 20px 0;
  /* 文字右浮动 */
  float: right;
  color: #ffefd5;
  font-family: "Microsoft YaHei";
  /* 文字样式设置斜体 */
  font-style: italic;
  line-height: 1.6em;
}

/* 导航栏css */
.naver {
  background: url(../images/common/naver-bg.png) repeat-x 0 0;
  position: relative;
  height: 90px;
}
/* 固定导航栏容器宽度，使内容居中，左右margin自动调节 */
.naver-section {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
nav ul {
  list-style-image: none;
}
.naver li {
  position: relative;
  /* 浮动布局，使导航栏能够排布在一行上 */
  float: left;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  /* 给文字加上阴影，目的使文字更加显现 */
  text-shadow: 0 1px 1px #000;
}
/* 用伪类after定义导航栏后的样式 */
.naver li:after {
  content: ".";
  position: absolute;
  top: 45%;
  margin-top: -2px;
  width: 6px;
  height: 7px;
  background: url(../images/common/split.png) no-repeat;
  right: -14px;
}
.naver li a {
  display: block;
  color: #fff;
  width: 136px;
  padding-bottom: 12px;
  line-height: 5em;
  text-align: center;
}
/* 当前选中页面的导航样式特殊化 */
.naver li.current a, .naver li a:hover {
  background: url(../images/common/naver-selected.png) no-repeat;
  color: #a32727;
}
.searchIcon {
  background: url(../images/common/searchIcon.png) no-repeat;
  float: right;
  width: 30px;
  height: 30px;
  margin: 35px -70px;
}

/* 内容区css */
/* 固定内容区容器的宽度和最小高度值，内容居中 */
.content {
  width: 1100px;
  margin: 10px auto;
  min-height: 620px;
  overflow: hidden;
}
.content_left {
  width: 290px;
  /* 左侧内容向左浮动 */
  float: left;
}
.brief {
  background-color: #ffffff80;
  /* 对容器设置阴影样式 */
  box-shadow: 0px 1px 0px #ffffff1a, inset 0px 1px 1px lightslategray;
  /* 使brief背景边框稍微圆滑 */
  border-radius: 5px;
  height: 260px;
  margin: 10px 0;
  overflow: hidden;
}
.brief img {
  width: 65px;
  height: 75px;
  margin-top: 10px;
  margin-right: 5px;
  float: right;
}
.brief h2 {
  font-size: 20px;
  margin: 10px;
  color: #ffefd5;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.content_left .more_btn {
  margin-top: 5px;
  margin-right: 10px;
  float: right;
}
/* 重新设置文字的大小、粗细和字体 */
.content_left .more_btn a {
  color: #fdf0db;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.brief p {
  color: #ebe7dd;
  font-size: 14px;
  /* padding会拓展背景样式，而margin不会 */
  padding: 0 20px;
  /* 重新定义行高 */
  line-height: 25px;
  text-shadow: 0px 2px 2px #ffffff1a;
}
.linkmore {
  margin: 15px;
}
.linkmore li {
  position: relative;
  /* 用百分比设置宽度，起到自动调节的作用 */
  width: 25%;
  float: left;
}
.linkmore li a {
  display: block;
  height: 53px;
  margin: 0 5px;
  box-shadow: 0px 1px 0px #ffffff1a, inset 0px 1px 1px #000000b3;
  /* 边框设置成圆形 */
  border-radius: 50%;
}
a.iconfont.icon-zhuye {
  color: #ef5509;
  background: url(../images/index/home.png) no-repeat center;
}
a.iconfont.icon-youxiang {
  color: #FF991A;
  background: url(../images/index/email.png) no-repeat center;
}
/* 设置i标签存放二维码 */
.linkmore i {
  display: block;
  position: absolute;
  bottom: 55px;
  right: 0;
}
/* 设置i标签初始状态为不可见 */
.linkmore i img {
  display: none;
  height: 100%;
  width: 100%;
}
/* 设置hover伪类使悬停时i标签状态变为可见，显示二维码 */
.linkmore a:hover + i img {
  display: block;
}
a.iconfont.icon-qq {
  color: #1296DB;
  background: url(../images/index/QQ.png) no-repeat center;
}
a.iconfont.icon-weixin {
  color: #07AF12;
  background: url(../images/index/wechat.png) no-repeat center;
}
.prize {
  background-color: #ffffff80;
  box-shadow: 0px 1px 0px #ffffff1a, inset 0px 1px 1px lightslategray;
  border-radius: 3px;
  height: 320px;
  margin: 20px 0;
}
.prize .medal img {
  width: 50px;
  height: 50px;
  float: left;
}
.prize .medal h5 {
  padding-top: 10px;
  margin-left: 10px;
  color: #ffefd5;
  font: 750 20px "Microsoft YaHei";
}
.prize .more_btn {
  margin-top: -25px;
}
.prize_cont {
  padding: 15px 20px 0 20px;
  line-height: 1.8em;
}
.prize_cont p {
  color: #fff;
  font-size: 12px;
  font-family: SimSum;
  text-shadow: 0px 2px 2px #00000080;
}
/* 右侧内容设置右浮动 */
.content_right {
  width: 800px;
  float: right;
  min-height: 600px;
}
.content_right article {
  padding: 15px;
  margin: 10px 0;
  height: 230px;
  overflow: hidden;
}
.article {
  background-color: #ffffff80;
  box-shadow: 1px 2px 6px #3f4a6929;
  border-radius: 3px;
}
article .article_left {
  position: relative;
  float: left;
  width: 270px;
  height: 180px;
  margin: 10px 20px 0 0;
  overflow: hidden;
}
article .article_left img {
  width: 100%;
  height: 100%;
}
article .article_right {
  width: 470px;
  float: right;
}
article .article_title {
  height: 30px;
  /* 给标题article_title设定一个实线下边框 */
  border-bottom: 1px solid #e6e6e6;
}
article .article_title a {
  color: #ffefd5;
  font-size: 18px;
  line-height: 20px;
  /* 文字字体加粗 */
  font-weight: bold;
}
/* 设置鼠标悬停在标题上时特殊的颜色样式 */
.article_title a:hover {
  color: #ffd7a6;
}
article .news {
  margin-top: 5px;
  color: #f0f0f0;
  font: normal 13px "Microsoft YaHei";
  line-height: 24px;
  height: 120px;
  /* 设定文字首行缩进2字符 */
  text-indent: 2em;
}
article .article-meta {
  padding-top: 5px;
  overflow: hidden;
}
article .article-meta li {
  float: left;
  padding: 0 8px 0 0;
  margin-top: 10px;
  color: #ffefd5;
  font-size: 12px;
}
article .article-meta li.more {
  padding-left: 120px;
  margin-top: 20px;
  font-size: 12px;
}
article .article-meta li.more a {
  display: inline-block;
  background-color: #c24c4c;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 5px;
}
.article-meta li.more a:hover {
  /* 鼠标悬停时透明度为0.75 */
  opacity: 0.75;
  /* 给文字设置下划线 */
  text-decoration: underline;
}
.essay {
  margin-top: 20px;
  line-height: 1.6em;
}
.header {
  background: url(../images/common/essay-header.png) no-repeat center 0;
  height: 60px;
  color: #a32727;
  font: bold 28px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* 文字居中显示 */
  text-align: center;
  text-shadow: 0 1px 1px #333;
}
.essay .inner {
  background-color: #ffffff80;
  width: 800px;
  height: 250px;
  margin-top: 10px;
  border-radius: 3px;
}
.essay .inner .container {
  width: 732px;
  height: 100%;
  margin-top: 10px;
}
.essay .essay_left {
  position: relative;
  float: left;
  width: 210px;
  height: 200px;
  margin: 20px;
}
.essay_left img {
  width: 230px;
  height: 180px;
  margin-top: 5px;
}
.essay .essay_right {
  width: 460px;
  margin-top: 15px;
  float: right;
}
.essay_title {
  height: 24px;
  border-bottom: 1px solid #e6e6e6;
}
.essay_title a {
  color: #ffefd5;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.essay_title a:hover {
  color: #ffd7a6;
}
.essay .description {
  margin-top: 5px;
  color: #f0f0f0;
  font: normal 13px "Microsoft YaHei";
  line-height: 24px;
  height: 75px;
  text-indent: 20px;
  overflow: hidden;
}
.essay .description span.strong {
  color: #da3636;
  font-weight: bold;
}
.essay_more {
  color: #ffefd5;
  float: right;
  right: 0;
  /* 当margin-top为负值时可使容器超出上边界继续向上移动，但背景不延伸 */
  margin-top: -10px;
}
.essay_more a {
  display: inline-block;
  background-color: #c24c4c;
  padding: 3px 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
.essay_more a:hover {
  opacity: 0.75;
  text-decoration: underline;
}

footer.footer {
  /* 页尾区要清除上面的所有浮动元素 */
  clear: both;
  background-color: #161b3f80;
  height: 75px;
  /* 文字居中显示 */
  text-align: center;
}
.copyright {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  line-height: 1.2em;
}
.copyright span {
  /* 给页眉区的爱心颜色变成红色 */
  color: #cc0000;
}
/* 清除浮动 */
.copyright:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}