/* default css */
a:hover {
  color: #f5deb3;
}
/* setting css */
div#personality {
  /* 为整个页面设置表格布局 */
  display: table;
  width: 1100px;
  border-spacing: 20px;
  margin: 25px auto 0 auto;
}
.row {
  /* 设置表格行 */
  display: table-row;
}
section.videos {
  /* 设置表格列 */
  display: table-cell;
  background-color: #4052a1d3;
  border-radius: 5px;
  vertical-align: top;
}
p.video-title {
  margin: -10px auto 10px auto;
  color: #dbe1f3;
  font: bold 18px "Microsoft YaHei";
  text-align: center; 
  text-shadow: 0 1px 1px #172447;
}
p.next {
  margin-top: 20px;
}
p.video-description {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #e4e3e3;
  font-size: 12px;
  line-height: 24px;
  text-indent: 2em;
}
p.second {
  margin-right: 20px;
}
aside.aside-show {
  display: table-cell;
  background-color: #fad2b1a2;
  width: 35%;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
}
h5.header {
  background: url(../images/personality/row-title.png) no-repeat center 0;
  /* 标题栏采用相对位置布局 */
  position: relative;
  top: -25px;
  height: 40px;
  color: #4a68be;
  font: bold 1.3em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 0 -1px 0 #0000001a;
}
video.video {
  width: 403px;
  height: 228px;
  margin: 5px 10px 0 0;
  float: right;
}
video.second {
  height: 226px;
  margin-left: 10px;
  float: left;
}
.tab_buttons {
  width: 100%;
  margin-top: -10px;
  border-bottom: 1px solid #e4e3e3;
  overflow: hidden;
}
.tab_buttons li {
  font-size: 16px;
  font-weight: 550;
  line-height: 1.4em;
  float: left;
  padding: 0 20px;
  text-align: center;
}
.photo-list {
  margin-top: 10px;
  padding: 5px 0 0;
}
.photo-list li {
  float: left;
  width: 95px;
  margin-left: 23px;
  margin-bottom: 23px;
}
.photo-list li .photo-bg {
  background: url(../images/personality/photo-bg.jpg) no-repeat;
  height: 115px;
  width: 85px;
  padding-top: 5px;
  padding-left: 23px;
  margin-left: -13px;
}
.image-container img {
  width: 100%;
  height: 100%;
  margin-left: -22px;
}

.works-head {
  background: #c5a3a3fd;
  width: 340px;
  height: 297px;
  margin: -20px auto 20px auto;
  border-radius: 3px;
  overflow: hidden;
}
.works-cover {
  padding: 10px 0 20px 10px;
  position: relative;
  overflow: hidden;
}
.works-cover ul:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 10px;
}
.works-cover li {
  float: left;
  width: 35%;
  border: #a58888fd 1px solid;
  padding: 22px;
  transition: all 0.5s ease;
}
i.cover {
  display: block;
  width: 100%;
  height: 100px;
  border-radius: 3px;
  background: #cccccc;
  overflow: hidden;
}
.cover img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 0.5s ease-out 0.1s;
}
.works-cover li b {
  display: block;
  width: 100%;
  height: 40px;
  color: #ffefd5;
  font-size: 14px;
  line-height: 1.6em;
  margin: 10px 0;
  overflow: hidden;
}
.works-cover li span {
  display: block;
  font-size: 12px;
  height: 55px;
  line-height: 1.2em;
  text-align: left;
  overflow: hidden;
}
.readmore {
  color: #ffefd5;
  font-size: 12px;
  font-weight: 500;
}
.readmore:before {
  content: " + ";
  color: #ffefd5;
}

#works_list ul {
  margin-top: -10px;
}
#works_list ul li {
  display: list-item;
  height: 32px;
  margin-bottom: 7px;
}
ul .date {
  width: 40px;
  height: 26px;
  float: left;
  margin-left: 13px;
}
.date .date-y {
  height: 15px;
  line-height: 15px;
  background-color: #ec5f4c;
  color: #fff;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  text-align: center;
}
.date .date-m-d {
  height: 12px;
  line-height: 12px;
  border-top: 1px solid #f1d9c3;
  color: #d87838;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  text-align: center;
  background-color: #fff;
}
#works_list li .title {
  width: 270px;
  float: left;
  margin-left: 6px;
  text-align: left;
}
#works_list li .title a {
  color: #f5e9e9;
  font-size: 14px;
}
